@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;500;600;700;800&display=swap');

* {
  box-sizing:  border-box;
}
html, body {
  min-height:  100%;
  min-width:   100%;
  font-size:   14pt;
  font-family: monospace;
  background:  #f1faee;
  color:       #14213d;
  margin:      0;
  padding:     0;
}

code { background: rgba(255,255,255,.8); }
img { max-width: 100%; }
pre { font-size: .8em; }
pre > code { overflow-x: scroll; }

/* colors
// slate gray  #6B717E
// mint cream  #E6EFE9
// aero blue   #C5F4E0
// xiketic     #14213d
// flickr pink #457b9d
*/

h1, h2, h3, h4, h5, h6 {
 font-family:    'Roboto Slab', sans-serif;
 font-weight:    300;
 text-transform: uppercase;
 color:          #6B717E;
}

h1 { color: #14213d; }

a {
  color:       #457b9d;
  font-weight: bold;
}

a:visited,
a:hover {
  color: #1d3557;
}

body > div#title,
body > div#footer, 
body > div#article, 
body > div#articles {
  width:   100%;
  padding: 5% 10% 0 10%;
}

body > div#articles > table > tbody > tr {
  cursor: pointer;
}

body > div#footer, 
body > div#article,
body > div#articles {
  padding-top: 1em;
}

body > div#title > a > img {
  height:         1.5em;
  vertical-align: middle;
}

body > div#title > a > h1 {
  display:         inline-block;
  vertical-align:  middle;
  font-size:       1.5em;
  color:           #14213d;
  text-decoration: none;
}

body > div#articles > table {
  border-spacing:  0 1em;
  border-collapse: separate;
  width:           100%;
}

body > div#articles > table tr > td:first-child {
  border-left: 1pt rgba(0,0,0,0) solid;
}

body > div#articles > table tr:hover > td:first-child {
  border-left-color: #1d3557;
  border-right-color: #1d3557;
}

body > div#articles > table td {
  padding: .25em 0 .25em .5em;
}

body > div#articles > table td.tag {
  border-right: 1px #6B717E solid;
  width:        20%;
}

body > div#article > h1,
body > div#article > h6 {
  margin: 0;
}
